<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <style>
    body{
      background-color: black;
      color: white
    }
  </style>
</head>
<body>
  <h1>Hello World. This is rendered by EJS!</h1>
  <p>Welcome to the <%= title %></p>
</body>
</html>
